<html>
    <head>
        <title>Laser Log</title>
    </head>
    <style>
        #title {
            text-align: center;
        }
        .center {
            margin: auto;
            width: 600px;
            border: 5px solid #00ff0d;
            padding: 10px;
        }
        #submit {
            width: 100%;
            height: 50pt;
        }
        #comment {
            width: 100%;
        }
        #new_link {
            font-size: 80%;
        }
    </style>
    <body>
        <div class="center">
            <div id="title">
                <h2>Laser Log - Stratum0</h2>
            </div>
            <p><b> Laserzeit: {{time}}</b></p>
            <p><b> Nutzer: {{user}}</b></p>
            <form action="/entry/new" method="post">
            <p><b> Material: <select name="material">
                {{#each materials}}<option value="{{@key}}">{{this.name}}{{#if this.fullname}} - {{this.fullname}}{{/if}}</option>{{/each}}
            </select> <a href="/mat/new" id="new_link">Neues Material Anlegen</a></b></p>
            <p><b> Dicke: <input type="number" name="thickness" min="0" max="15" step="0.5" value="6" size="4" /> mm</b></p>
            <b>Weitere Anmerkungen:</b><br />
            <textarea id="comment" name="comment" rows="10" cols="80"></textarea>
            <br /><br />
            <input type="submit" id="submit" value="Eintragen">
            </form>
        </div>
    </body>
</html>